*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: linear-gradient(90deg, skyblue 40%, darkseagreen 60%);
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}.title{
    line-height: 10px;
}h1{
    font-size: 60px;
}main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}li{
    display: inline-block;
    margin: 20px;
}h2{
    font-size: 56px;
    line-height: 10px;
}#eng{
    color: blue;
}#fun{
    color: red; 
}p{
    line-height: 20px;
    max-width: 414px;
    font-size: 20px;
}img{
    width: 630px;
    margin-left: 90px;
    margin-top: 38.5    px;
}a:hover{
    color: blueviolet;
    transition: 0.3s all;
}#brd{
    border: 2px solid blueviolet;
    padding: 10px;
    border-radius: 20px;
}hr{
    border-style: solid;
}#brd:hover{
    background-color: blueviolet;
    color: white;
}form{
    display: flex;
    flex-direction: column;
    width: 70%;
}input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}form [type="submit"]:hover{
    cursor: pointer;
}a{
    cursor: pointer;
}
